.leftContainer {
  width: 15%;
  height: 100%;
  text-align: left;
  /* background: #343951; */
  background-color: rgb(255, 255, 255);
  
  /* color: #d0d6db; */
  color: #000 !important;
  cursor: default;
  /* transition-duration: 0.3s; */
  /* overflow: hidden; */
}

.leftPane {
  width: 100%;
  /* position: absolute; */
  height: 100%;
  text-align: left;
  /* border: 1px solid black; */
  /* background: #343951; */
  background-color: rgb(255, 255, 255);
  /* padding-left: 2%; */
  /* color: #d0d6db; */
  padding-left: 1rem;
  padding-right: 1rem;

  padding-top: 2rem;
  color: black;
  cursor: default;
  z-index: 2;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
  transition-duration: 0.4s;
  /* overflow: hidden; */
}
.leftPane_folders {
  max-height: 150px;
  /* height: 150px; */
  overflow: scroll;
  /* overflow-x: hidden; */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.leftPane_folders::-webkit-scrollbar {
  display: none;
}
/* .leftPane_folders::-webkit-scrollbar {
  width: 10px;


}
.leftPane_folders::-webkit-scrollbar-track {
  background: #3f51b5;
  border-radius: 5px;
  margin-right: 2%;
}
.leftPane_folders::-webkit-scrollbar-thumb {
  background: #05e395;
  border-radius: 5px;
  margin-right: 2%;
}
.leftPane_folders::-webkit-scrollbar-thumb:hover {
  background: #0f0;
} */
.leftPane_short {
  width: 5%;
  height: 100%;
  /* text-align: center;
  align-items: center; */
  /* background: #343951; */
  background-color: white;
  padding-left: 0.8%;
  /* color: #d0d6db; */
  color: black;
  cursor: default;
}
.sarvvid_logo {
  width: 80%;
  margin-top: 2%;
}
.sarvvid_logo_short {
  width: 60px;
  margin-top: 50px;
}
.leftPane_buttons {
  font-size: 18px;
  margin-top: 2rem;
  /* background: blue; */
}
.leftPane_buttons_button {
  margin: 1rem 0rem;
  opacity: 0.8;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.leftPane_buttons_button h6 {
  margin-top: 10px;
  margin-left: .5rem;
  color: rgb(29, 29, 29);
}

.leftPane_buttons_button_short {
  margin: 180%;
  opacity: 0.8;
}
.leftPane_buttons_button:hover {
  opacity: 1;
  background: rgba(123, 226, 217, 0.3);

  border-left: 5px solid rgba(92, 197, 188, 1);
}

.leftPane_new {
  /* position: absolute; */
  /* bottom: 25%; */
  /* position: absolute; */
  /* bottom: 20%; */
  margin-top: 2rem;
}
.leftPane_new_short {
  /* position: absolute; */
  bottom: 20%;
  /* position: relative;
  top: 5%; */
}
.home_link {
  box-sizing: border-box;
  text-decoration: none !important;
  color: rgb(29, 29, 29) !important;
  opacity: 0.8;
  
  
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  
  
}


.leftPane_buttons_button:hover{
  padding-left: 10px;

}



.home_link h6{

  margin-top: 10px;
  margin-left: .5rem;
  color: rgb(29, 29, 29);
}

.home_link:hover {
  opacity: 1;
}
.FileRequest_modal {
  overflow: scroll;
  /* border-radius: 2%; */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.FileRequest_modal::-webkit-scrollbar {
  display: none;
}
.div_FileRequest_heading {
  height: min-content;
  margin-bottom: 2%;
  cursor: default;
}
.FileRequestHeading {
  color: #00b3ff;
  /* color: #3c4043; */
}
.FileRequestBody {
  text-align: left;
  color: #3c4043;
  letter-spacing: 0.02em;
}
.FileRequestInstruction {
  font-size: 135%;
  margin-bottom: 4%;
}
.FileHash_text {
  width: 100% !important;
}
.FileRequest_button {
  background: #00b3ff;
  outline: none;
  margin-top: 2%;
  border: 1px solid #dadce0;
  width: 20%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 4px;
  font-size: 120%;
  transition-duration: 0.4s;
  /* letter-spacing: 0.0107142857em; */
  letter-spacing: 0.02em;
  color: black;
  /* position: absolute; */
  right: 4%;
}
.FileRequest_button:hover {
  cursor: pointer;
  /* background-color: #f6fafe; */
  /* color: white; */
}
/* .upgrade_plan_button:disabled {
  pointer-events: none;
  cursor: default;
  color: #3c4043;
} */
.FileRequest_button:focus {
  outline: none;
}
